# Importing Data

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\samir\OneDrive\Documents\10-2022 Instacart Basket Analysis'

# Task
#### Numbers 1 and 2 of this task has been completed on the attached 4.6 Lesson Notebook

### Q3. Import the orders_products_combined dataframe from the pickle file you just saved

In [3]:
# Importing the orders_products_combined df
df_ords_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_ords_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

### Q4. Check the shape of the imported dataframe

In [5]:
df_ords_merged.shape

(32434489, 11)

#### Shape matched exported database

### Q5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set

In [6]:
# Importing the products df
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prods.shape

(49672, 5)

#### Both databases have the product_id column in common. I will merge using this column.

In [10]:
# dropping merge column from df_ords_merged
df_ords_merged = df_ords_merged.drop(columns = ['_merge'])

In [11]:
df_ords_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

In [13]:
df_ords_merged.shape

(32434489, 10)

In [17]:
# merging df_ords_merged and df_prods
df_ords_prods_merged = df_ords_merged.merge(df_prods, on = ['product_id'], indicator = True)

### Q6. Confirm the results of the merge using the merge flag

In [18]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

In [19]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [20]:
df_ords_prods_merged.shape

(32404859, 15)

### Q7. Export the newly created dataframe as orders_products_merged in a suitable format

In [21]:
df_ords_prods_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merged.pkl'))